/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

header {
  background-image: url("/lab-css-instagram-clone/images/bgtile.png");
  background-size: repeat;
  height: 300px;
  width: 100vw;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;  
}
.main-container{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 50vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.container {  
  display: flex;
  flex-direction: row;
  margin-top: -12rem; 
  margin-left: 10vw;
  margin-right: 5vw;
  width: 100px;  
}
.insta-tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 24vw;
  margin-left: 1vw;  
}
.log-in-button {
  background-image: url("/lab-css-instagram-clone/images/bgtile.png");
  background-image: linear-gradient(#588cb6fb, #1c5380);
  background-size: cover;
  border-color: #1c5380;
  border-radius: 7%;
  border-style: ;
  color: white;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
.introduction {
  background-image: url("/lab-css-instagram-clone/images/frame.png");
  background-repeat: no-repeat;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 30px 40px;
}
.introduction-tag1 {
  color: #06365f;
  display: flex;
  margin-bottom: 0;
  margin-left: 35px;
  width: 12vw;
}
.introduction-tag2 {
  display: flex;
  margin-bottom: 0;
  margin-left: 35px;
  width: 19vw;
}
.general-links {
  display: flex;
  width: 50vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-content: flex-start;
  text-decoration: none;
  color: #1c5380;
  font-weight: bolder;
  margin-left: 20vw;
  margin-top: 1vw;
  margin-right: 20vw;  
}
.general-links-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 27vw;
  flex-wrap: wrap;
  margin-left: 3vw;  
}
.general-links a {
  text-decoration: none;
  color: #1c5380;
  font-weight: 800;  
}
.general-links p {
  color: rgb(148, 143, 143);
  font-weight: 700;
}
.buttons{
margin-left: 70px;
}
.app-button {
  background-color: white;
  border: none;
  margin-bottom: 0;  
}
